
.mar-top{
    margin-top: 20px;
}
.bodys {
    background-color: #dadada;
}

.content {
    margin: 30px;
    background-color: white;
}
.left-content {
    border-right: 1px solid #e5e5e5;
}

.submit {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px 25px;
}

.item_image {
    width: 40px;
    height: 40px;
}


.item_title{
    color: #333333;
}

.item_desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}


